header {
    margin: auto;
    height: 80px;
    overflow: hidden;
}

.logo {
    width: 260px;
    height: 100%;
    float: left;
}

.logo a {
    width: 260px;
    height: 60px;
    margin: 10px 0px 0px 0px;
    position: absolute;
    background: url("../images/logo.jpg") no-repeat;
    display: block;
}

.top-nav {
    float: right;
    height: 100%;
    font-size: 18px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}

.top-nav a {
    line-height: 80px;
    margin: 0 5px;
    padding: 0 8px;
}

.top-nav .en {
    color: #999;
    font-size: 12px;
    display: none;
}