<header>
    <div class="logo">
        <a href=""></a>
    </div>
    <nav class="top-nav">
        <a>
            <span>首页</span>
            <span class="en">Home</span>
        </a>
        <a>
            <span>关于我</span>
            <span class="en">About me</span>
        </a>
        <a>
            <span>在路上</span>
            <span class="en">About me</span>
        </a>
        <a>
            <span>心情蔷薇</span>
            <span class="en">About me</span>
        </a>
        <a>
            <span>云卷云舒</span>
            <span class="en">About me</span>
        </a>
        <a>
            <span>花开人未央</span>
            <span class="en">About me</span>
        </a>
    </nav>
</header>