{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="UTF-8">
    <title></title>
    {% include 'includes/css.html' %}
</head>
<body>
{% include 'includes/header.html' %}
{% include 'includes/banner.html' %}
<div class="main-area">
    <article class="control">
        <h2 class="title">
            <p>首页<span>博文</span></p>
        </h2>
        <div class="content">
            <ul>
                <li class="article clear">
                    <h3>程序猿请放下你的技术情节</h3>
                    <figure class="left">
                        <img src="{% static 'images/001.png' %}">
                    </figure>
                    <ul>
                        <p class="article-content">如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得...</p>
                        <a class="tag">阅读全文>></a>
                    </ul>
                </li>
                <li class="article">
                    <h3>程序猿请放下你的技术情节</h3>
                    <figure class="left">
                        <img src="{% static 'images/001.png' %}">
                    </figure>
                    <ul>
                        <p class="article-content">如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得...</p>
                        <a class="tag">阅读全文>></a>
                    </ul>
                </li>
                <li class="article">
                    <h3>程序猿请放下你的技术情节</h3>
                    <figure class="left">
                        <img src="{% static 'images/001.png' %}">
                    </figure>
                    <ul>
                        <p class="article-content">如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得...</p>
                        <a class="tag">阅读全文>></a>
                    </ul>
                </li>
                <li class="article">
                    <h3>程序猿请放下你的技术情节</h3>
                    <figure class="left">
                        <img src="{% static 'images/001.png' %}">
                    </figure>
                    <ul>
                        <p class="article-content">如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得...</p>
                        <a class="tag">阅读全文>></a>
                    </ul>
                </li>
                <li class="article">
                    <h3>程序猿请放下你的技术情节</h3>
                    <figure class="left">
                        <img src="{% static 'images/001.png' %}">
                    </figure>
                    <ul>
                        <p class="article-content">如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得...</p>
                        <a class="tag">阅读全文>></a>
                    </ul>
                </li>
                <li class="article">
                    <h3>程序猿请放下你的技术情节</h3>
                    <figure class="left">
                        <img src="{% static 'images/001.png' %}">
                    </figure>
                    <ul>
                        <p class="article-content">如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得技术人员要真正学会的第二课，不是技术，而是业务、交流与协作，学会关心其他工作伙伴的工作情况和进展如果说掌握一门赖以生计的技术是技术人员要学会的第一课的话，
                            那么我觉得...</p>
                        <a class="tag">阅读全文>></a>
                    </ul>
                </li>
            </ul>
        </div>
    </article>
</div>
{% include 'includes/footer.html' %}
</body>
</html>